<ion-header>
  <ion-toolbar>
    <ion-title>Mes articles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar placeholder="Rechercher" [debounce]="1000"></ion-searchbar>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Tous les Articles</ion-card-subtitle>
        <ion-card-title>Smart Farm</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button slot="end" color="secondary">
          <ion-icon slot="end" name="add"></ion-icon>
          Ajouter un article
        </ion-button>
      </ion-card-content>
    </ion-card>

    <div class="main">
      <span *ngIf="isLoaded; then loaded else loading"></span>

      <ng-template #loading>
        <ion-card class="my" color="primary">
          <div class="img">
            <ion-thumbnail slot="start" class="img-skeleton">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </div>
          <div class="content">
            <ion-card-header>
              <ion-card-subtitle >
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 70%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 50%;"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card class="my" color="primary">
          <div class="img">
            <ion-thumbnail slot="start" class="img-skeleton">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </div>
          <div class="content">
            <ion-card-header>
              <ion-card-subtitle >
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 70%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 50%;"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card class="my" color="primary">
          <div class="img">
            <ion-thumbnail slot="start" class="img-skeleton">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </div>
          <div class="content">
            <ion-card-header>
              <ion-card-subtitle >
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 70%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 50%;"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </div>
        </ion-card>
        <ion-card class="my" color="primary">
          <div class="img">
            <ion-thumbnail slot="start" class="img-skeleton">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </div>
          <div class="content">
            <ion-card-header>
              <ion-card-subtitle >
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 80%;"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 70%;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text class="skeleton-text" [animated]="true" style="width: 50%;"></ion-skeleton-text>
              </p>
            </ion-card-content>
          </div>
        </ion-card>
      </ng-template>

      <ng-template #loaded>
        <div *ngIf=" articles.length == 0; else list">
          <p>Vous n'avez pas encore d'article enregistré (° - °) !</p>
        </div>
        <ng-template #list>
          <ion-card class="my" color="primary" *ngFor="let article of articles">
            <div class="img">
              <img src="../../../assets/icon/favicon.png" alt="Icon">
            </div>
            <div class="content">
              <ion-card-header>
                <ion-card-subtitle>Article</ion-card-subtitle>
                <ion-card-title>{{article.nom}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Prix : {{article.prixU}} Fcfa</p>
                <p>Quantité : {{article.quantite}}</p>
              </ion-card-content>
              <ion-button fill="clear" color="tertiary" [routerLink]="['/article-details', article.id]" routerLinkActive="router-link-active" >Détail</ion-button>
            </div>
          </ion-card>
        </ng-template>
      </ng-template>
    </div>
  </div>
</ion-content>
