ion-card.hero{
  background-image: linear-gradient(#33333362, #33333362), url('../../../assets/img/farmer-icegif-1.gif');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  ion-button{
    align-self: center;
  }
}

h1 {
  text-align: center;
}

p.desc {
  color: var(--ion-color-tertiary);
}