ion-item {
    margin-bottom: 15px;
    height: auto;
}

ion-label {
    margin-bottom: px;
}

ion-input {
    padding-left: 10px !important;
    border: .5px solid gray;
    border-radius: 5px;
    width: 98%;
}