
<ion-content>
  <div class="container">
    <div class="header">
      <img src="../../../assets/icon/favicon.png" alt="Logo">
      <ion-text color="primary">
        <h1></h1>
      </ion-text>
    </div>
    <div class="page-content ion-padding">
      <ion-text color="secondary">
        <h1>Connexion - Fermier</h1>
      </ion-text>
      <ion-item-group mode="ios">
        <ion-item lines="none" color="primary">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item lines="none" color="primary">
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-item-group>
      <div class="ion-padding">
        <ion-button size="large" mode="ios" (click)="login()" expand="block" color="success">
          Connexion
        </ion-button>
        <ion-text color="light">
          <p>Pas encore de compte ? <a (click)="presentModal()">Créer un compte</a> </p>
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>