// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #233D4D;
	--ion-color-primary-rgb: 35,61,77;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1f3644;
	--ion-color-primary-tint: #39505f;

	--ion-color-secondary: #CE9159;
	--ion-color-secondary-rgb: 206,145,89;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #b5804e;
	--ion-color-secondary-tint: #d39c6a;

	--ion-color-tertiary: #B8DBD9;
	--ion-color-tertiary-rgb: 184,219,217;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #a2c1bf;
	--ion-color-tertiary-tint: #bfdfdd;

	--ion-color-success: #52C781;
	--ion-color-success-rgb: 82,199,129;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #48af72;
	--ion-color-success-tint: #63cd8e;

	--ion-color-warning: #FFCE2E;
	--ion-color-warning-rgb: 255,206,46;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0b528;
	--ion-color-warning-tint: #ffd343;

	--ion-color-danger: #FF2E4A;
	--ion-color-danger-rgb: 255,46,74;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #e02841;
	--ion-color-danger-tint: #ff435c;

	--ion-color-medium: #A7A8A9;
	--ion-color-medium-rgb: 167,168,169;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #939495;
	--ion-color-medium-tint: #b0b1b2;

	--ion-color-light: #F4F5F8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}